<div class="navbar-area">
  <div class="main-nav">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" routerLink="/admin"></a>

        <div
          class="navbar-collapse mean-menu collapse"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a routerLink="/admin" class="nav-link dropdown-toggle">Admin</a>
            </li>

            <li class="nav-item">
              <a routerLink="/admin/jobs" class="nav-link dropdown-toggle"
                >Jobs Posting</a
              >
            </li>

            <li class="nav-item">
              <a routerLink="/admin/applicants" class="nav-link dropdown-toggle"
                >Applicants</a
              >
            </li>

            <li class="nav-item">
              <a routerLink="/admin/quotes" class="nav-link dropdown-toggle"
                >Quotes</a
              >
            </li>
            <li class="nav-item">
              <a routerLink="/admin/clients" class="nav-link dropdown-toggle"
                >Our Clients</a
              >
            </li>
            <div class="navbar-button">
              <a style="cursor: pointer" (click)="logout()">Logout</a>
            </div>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="row card">
    <div class="content-header">
      <strong class="heading">Our Clients</strong>
      <div class="row">
        <div class="col-md-12">
          <button
            class="btn btn-primary"
            style="
              float: right;
              margin: 10px;
              background-color: #ff7c1e;
              border: none;
            "
            routerLink="add"
          >
            <i class="icofont-ui-add"></i>
            Add Client
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">Company Name</th>
            <th scope="col">Designation</th>
            <th scope="col">Stars</th>
            <th scope="col">Description</th>
            <th scope="col">Picture</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="isLoading">
            <td colspan="10">
              <ngx-skeleton-loader
                count="5"
                appearance="line"
              ></ngx-skeleton-loader>
            </td>
          </tr>
          <tr *ngFor="let index of this.pagination.renderData; let i = index">
            <td scope="row">{{ i + 1 }}</td>
            <td
              style="cursor: pointer; max-width: 50"
              scope="row"
              title="{{ index.cName }}"
            >
              {{ index.cName }}
            </td>
            <td
              style="cursor: pointer; max-width: 50px"
              scope="row"
              title="{{ index.desig }}"
            >
              {{ index.desig }}
            </td>
            <td
              style="cursor: pointer; max-width: 240px"
              scope="row"
              title="{{ index?.stars }}"
            >
              {{ index?.stars }}
            </td>
            <td
              style="cursor: pointer; max-width: 240px"
              scope="row"
              title="{{ index.desc }}"
            >
              {{ index.desc }}
            </td>
            <td style="cursor: pointer" scope="row">
              <img src="{{ index?.img?.response }}" alt="" width="100px" />
            </td>
            <td>
              <a routerLink="edit/{{ encrypt(index.docId) }}">
                <a style="margin-left: 10px; cursor: pointer; font-size: 18px">
                  <i class="fa fa-edit" style="color: rgba(0, 0, 0, 0.75)"></i>
                </a>
              </a>
              <a
                style="
                  margin-left: 20px;
                  cursor: pointer;
                  color: #ff7c1e;
                  font-size: 18px;
                "
                (click)="deleteClient('ourClients', index.docId)"
              >
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-7" *ngIf="!isLoading && pagination.showPagination()">
      <nav aria-label="Page navigation example">
        <ul class="pagination" style="float: right">
          <li class="page-item">
            <a
              class="page-link"
              (click)="pagination.prev()"
              aria-label="Previous"
            >
              <span style="color: #ff7c1e" aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li
            class="page-item"
            [ngClass]="i == pagination.page ? 'active' : ''"
            (click)="pagination.processOffset(i)"
            *ngFor="let i of pagination.render()"
          >
            <a class="page-link">{{ i }}</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="pagination.next()" aria-label="Next">
              <span style="color: #ff7c1e" aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
