<app-header></app-header>
<div class="page-wrapper">
  <carousel [interval]="0">
    <slide>
      <div>
        <img
          src="assets/images/demoes/demo3/slider/slide1.jpg"
          alt="Kitten 1"
        />
        <div class="image-text">
          <h2>Winter Fashion Trends</h2>
          <h3 class="text-uppercase mb-0">Get up to 30% off</h3>
          <h4 class="m-b-4">on Jackets</h4>

          <h5 class="text-uppercase">
            Starting at
            <h2 class="coupon-sale-text"><sup>$</sup>199<sup>99</sup></h2>
          </h5>
          <a routerLink="/products" class="btn btn-dark btn-xl" role="button"
            >Shop Now</a
          >
        </div>
      </div>
    </slide>
    <slide>
      <div>
        <img
          src="assets/images/demoes/demo3/slider/slide2.jpg"
          alt="Kitten 2"
        />
        <div class="image-text">
          <h2>New Season Hats</h2>
          <h3 class="text-uppercase rotated-upto-text mb-0">Up to 20% off</h3>

          <h5 class="text-uppercase d-inline-block mb-2 mb-sm-0">
            Starting at
            <h2>$19<sup>99</sup></h2>
          </h5>
          <a
            routerLink="products"
            class="btn btn-dark btn-xl btn-icon-right"
            role="button"
            >Shop Now <i class="fas fa-long-arrow-alt-right"></i
          ></a>
        </div>
      </div>
    </slide>
  </carousel>
</div>
<app-footer></app-footer>
