<app-header></app-header>
<div class="page-wrapper" style="margin-top: 100px">
  <main class="main about">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="demo3.html">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
      </div>
      <!-- End .container -->
    </nav>

    <div class="container">
      <div class="page-header pt-3 bg-transparent">
        <div class="container text-left">
          <h1 class="font4 text-uppercase">The New Way to Success</h1>
        </div>
        <!-- End .container -->
      </div>
      <!-- End .page-header -->

      <div class="container">
        <h2 class="page-intro font-weight-normal">Who we are</h2>
        <div class="row row-bg">
          <div class="col-md-6">
            <p class="mb-2">
              Aliquam consectetur et lorem semper scelerisque. Proin est nibh,
              vestibulum vitae congue nec, tristique eu justo. Maecenas eu nunc
              lacinia, porta lorem vitae, viverra velit. Nulla dolor libero,
              rhoncus quis luctus eu, fermentum sed leo. Morbi ut risus
              porttitor odio sodales pulvinar. Sed gravida nulla sed sapien
              vulputate, eget malesuada justo egestas. Pellentesque sem mi,
              vulputate ac iaculis sit amet, sagittis feugiat dui. Proin non
              pellentesque leo. Vestibulum varius laoreet posuere. Etiam
              fringilla diam odio.
            </p>

            <p>
              Nulla felis nibh, bibendum a leo ut, egestas ornare felis. Nam
              pretium mauris justo, eget commodo est fringilla vel. Proin
              condimentum, lacus sit amet finibus gravida, sapien ligula mattis
              leo, sit amet mattis leo lacus sit amet lectus. Nulla facilisi.
              Etiam porta iaculis velit id pulvinar. Sed dolor odio, eleifend
              eget aliquam vitae, efficitur vitae dolor. Integer ornare neque ac
              leo sollicitudin, at vestibulum ante scelerisque. Nullam ut elit
              sed lorem tempus feugiat in et lectus. Mauris interdum molestie
              placerat. Nullam dolor nunc, elementum et tincidunt id, vestibulum
              quis turpis. Integer imperdiet a eros a laoreet. Nam mattis vel
              ligula non imperdiet. Suspendisse potenti. Fusce purus sem,
              dapibus eu fermentum eget, aliquam vehicula ligula.
            </p>
          </div>
          <!-- End .col-md-6 -->

          <div class="col-md-6">
            <p class="mb-2">
              Quisque congue dignissim dui sed luctus. Morbi nec mi vitae magna
              finibus ullamcorper. Etiam mattis blandit convallis. Suspendisse
              eu elementum leo. Vestibulum molestie nunc et efficitur egestas.
              Vivamus arcu lectus, laoreet vel consectetur bibendum, elementum
              non nunc. Proin porttitor velit odio, ac mattis quam tincidunt
              eget. Fusce semper nunc eget efficitur efficitur. Nam ullamcorper,
              enim id tincidunt feugiat, velit mauris fermentum nulla, at tempor
              eros turpis sit amet massa. Ut a semper lectus, sed hendrerit
              risus. In hac habitasse platea dictumst. Curabitur venenatis
              cursus posuere. Praesent turpis nisi, aliquam at facilisis non,
              sagittis vel urna. Donec diam lorem, feugiat vitae laoreet in,
              sagittis a lorem.
            </p>

            <p>
              Aliquam consectetur et lorem semper scelerisque. Proin est nibh,
              vestibulum vitae congue nec, tristique eu justo. Maecenas eu nunc
              lacinia, porta lorem vitae, viverra velit. Nulla dolor libero,
              rhoncus quis luctus eu, fermentum sed leo. Morbi ut risus
              porttitor odio sodales pulvinar. Sed gravida nulla sed sapien
              vulputate, eget malesuada justo egestas. Pellentesque sem mi,
              vulputate ac iaculis sit amet, sagittis feugiat dui. Proin non
              pellentesque leo. Vestibulum varius laoreet posuere. Etiam
              fringilla diam odio.
            </p>
          </div>
          <!-- End .col-md-6 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .container -->

      <div class="history-section pb-3">
        <div class="container">
          <h1 class="page-title font4">OUR HISTORY</h1>
          <div class="row row-bg">
            <div class="col-xl-5 col-lg-6">
              <div class="about-slider owl-carousel owl-theme dots-simple">
                <div class="about-slider-item">
                  <img
                    class="owl-lazy"
                    data-src="assets/images/demoes/demo3/about/img-1.jpg"
                    src="assets/images/lazy.png"
                    alt="About image description"
                  />
                </div>
                <div class="about-slider-item">
                  <img
                    class="owl-lazy"
                    data-src="assets/images/demoes/demo3/about/img-2.jpg"
                    src="assets/images/lazy.png"
                    alt="About image description"
                  />
                </div>
                <div class="about-slider-item">
                  <img
                    class="owl-lazy"
                    data-src="assets/images/demoes/demo3/about/img-3.jpg"
                    src="assets/images/lazy.png"
                    alt="About image description"
                  />
                </div>
              </div>
              <!-- End .about-slider -->
            </div>
            <!-- End .col-lg-5 -->
            <div class="col-xl-7 col-lg-6">
              <h2>2014</h2>
              <p class="mb-2">
                Aliquam consectetur et lorem semper scelerisque. Proin est nibh,
                vestibulum vitae congue nec, tristique eu justo. Maecenas eu
                nunc lacinia, porta lorem vitae, viverra velit. Nulla dolor
                libero, rhoncus quis luctus eu, fermentum sed leo. Morbi ut
                risus porttitor odio sodales pulvinar. Sed gravida nulla sed
                sapien vulputate, eget malesuada justo egestas. Pellentesque sem
                mi, vulputate ac iaculis sit amet, sagittis feugiat dui. Proin
                non pellentesque leo. Vestibulum varius laoreet posuere. Etiam
                fringilla diam odio.
              </p>

              <p>
                Nulla felis nibh, bibendum a leo ut, egestas ornare felis. Nam
                pretium mauris justo, eget commodo est fringilla vel. Proin
                condimentum, lacus sit amet finibus gravida, sapien ligula
                mattis leo, sit amet mattis leo lacus sit amet lectus. Nulla
                facilisi. Etiam porta iaculis velit id pulvinar. Sed dolor odio,
                eleifend eget aliquam vitae, efficitur vitae dolor. Integer
                ornare neque ac leo sollicitudin, at vestibulum ante
                scelerisque. Nullam ut elit sed lorem tempus feugiat in et
                lectus. Mauris interdum molestie placerat. Nullam dolor nunc,
                elementum et tincidunt id, vestibulum quis turpis. Integer
                imperdiet a eros a laoreet. Nam mattis vel ligula non imperdiet.
                Suspendisse potenti. Fusce purus sem, dapibus eu fermentum eget,
                aliquam vehicula ligula.
              </p>
            </div>
            <!-- End .col-lg-7 -->
          </div>
          <!-- End .row -->

          <div class="row row-bg">
            <div class="col-xl-5 col-lg-6">
              <div class="about-slider owl-carousel owl-theme dots-simple">
                <div class="about-slider-item">
                  <img
                    class="owl-lazy"
                    data-src="assets/images/demoes/demo3/about/img-2.jpg"
                    src="assets/images/lazy.png"
                    alt="About image description"
                  />
                </div>
                <div class="about-slider-item">
                  <img
                    class="owl-lazy"
                    data-src="assets/images/demoes/demo3/about/img-3.jpg"
                    src="assets/images/lazy.png"
                    alt="About image description"
                  />
                </div>
                <div class="about-slider-item">
                  <img
                    class="owl-lazy"
                    data-src="assets/images/demoes/demo3/about/img-1.jpg"
                    src="assets/images/lazy.png"
                    alt="About image description"
                  />
                </div>
              </div>
              <!-- End .about-slider -->
            </div>
            <!-- End .col-lg-5 -->
            <div class="col-xl-7 col-lg-6 order-lg-first">
              <h2>2015</h2>
              <p class="mb-2">
                Aliquam consectetur et lorem semper scelerisque. Proin est nibh,
                vestibulum vitae congue nec, tristique eu justo. Maecenas eu
                nunc lacinia, porta lorem vitae, viverra velit. Nulla dolor
                libero, rhoncus quis luctus eu, fermentum sed leo. Morbi ut
                risus porttitor odio sodales pulvinar. Sed gravida nulla sed
                sapien vulputate, eget malesuada justo egestas. Pellentesque sem
                mi, vulputate ac iaculis sit amet, sagittis feugiat dui. Proin
                non pellentesque leo. Vestibulum varius laoreet posuere. Etiam
                fringilla diam odio.
              </p>

              <p>
                Nulla felis nibh, bibendum a leo ut, egestas ornare felis. Nam
                pretium mauris justo, eget commodo est fringilla vel. Proin
                condimentum, lacus sit amet finibus gravida, sapien ligula
                mattis leo, sit amet mattis leo lacus sit amet lectus. Nulla
                facilisi. Etiam porta iaculis velit id pulvinar. Sed dolor odio,
                eleifend eget aliquam vitae, efficitur vitae dolor. Integer
                ornare neque ac leo sollicitudin, at vestibulum ante
                scelerisque. Nullam ut elit sed lorem tempus feugiat in et
                lectus. Mauris interdum molestie placerat. Nullam dolor nunc,
                elementum et tincidunt id, vestibulum quis turpis. Integer
                imperdiet a eros a laoreet. Nam mattis vel ligula non imperdiet.
                Suspendisse potenti. Fusce purus sem, dapibus eu fermentum eget,
                aliquam vehicula ligula.
              </p>
            </div>
            <!-- End .col-lg-7 -->
          </div>
          <!-- End .row -->

          <div class="row row-bg">
            <div class="col-xl-5 col-lg-6">
              <div class="about-slider owl-carousel owl-theme dots-simple">
                <div class="about-slider-item">
                  <img
                    class="owl-lazy"
                    data-src="assets/images/demoes/demo3/about/img-3.jpg"
                    src="assets/images/lazy.png"
                    alt="About image description"
                  />
                </div>
                <div class="about-slider-item">
                  <img
                    class="owl-lazy"
                    data-src="assets/images/demoes/demo3/about/img-2.jpg"
                    src="assets/images/lazy.png"
                    alt="About image description"
                  />
                </div>
                <div class="about-slider-item">
                  <img
                    class="owl-lazy"
                    data-src="assets/images/demoes/demo3/about/img-1.jpg"
                    src="assets/images/lazy.png"
                    alt="About image description"
                  />
                </div>
              </div>
              <!-- End .about-slider -->
            </div>
            <!-- End .col-lg-5 -->
            <div class="col-xl-7 col-lg-6">
              <h2>2016</h2>
              <p class="mb-2">
                Aliquam consectetur et lorem semper scelerisque. Proin est nibh,
                vestibulum vitae congue nec, tristique eu justo. Maecenas eu
                nunc lacinia, porta lorem vitae, viverra velit. Nulla dolor
                libero, rhoncus quis luctus eu, fermentum sed leo. Morbi ut
                risus porttitor odio sodales pulvinar. Sed gravida nulla sed
                sapien vulputate, eget malesuada justo egestas. Pellentesque sem
                mi, vulputate ac iaculis sit amet, sagittis feugiat dui. Proin
                non pellentesque leo. Vestibulum varius laoreet posuere. Etiam
                fringilla diam odio.
              </p>

              <p>
                Nulla felis nibh, bibendum a leo ut, egestas ornare felis. Nam
                pretium mauris justo, eget commodo est fringilla vel. Proin
                condimentum, lacus sit amet finibus gravida, sapien ligula
                mattis leo, sit amet mattis leo lacus sit amet lectus. Nulla
                facilisi. Etiam porta iaculis velit id pulvinar. Sed dolor odio,
                eleifend eget aliquam vitae, efficitur vitae dolor. Integer
                ornare neque ac leo sollicitudin, at vestibulum ante
                scelerisque. Nullam ut elit sed lorem tempus feugiat in et
                lectus. Mauris interdum molestie placerat. Nullam dolor nunc,
                elementum et tincidunt id, vestibulum quis turpis. Integer
                imperdiet a eros a laoreet. Nam mattis vel ligula non imperdiet.
                Suspendisse potenti. Fusce purus sem, dapibus eu fermentum eget,
                aliquam vehicula ligula.
              </p>
            </div>
            <!-- End .col-lg-7 -->
          </div>
          <!-- End .row -->
        </div>
        <!-- End .container -->
      </div>
      <!-- End .history-section -->

      <div class="mb-3"></div>
      <!-- margin -->
    </div>
  </main>
  <!-- End .main -->
</div>
<!-- End .page-wrapper -->

<!-- <div class="loading-overlay">
  <div class="bounce-loader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div> -->

<div class="mobile-menu-overlay"></div>
<!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
  <div class="mobile-menu-wrapper">
    <span class="mobile-menu-close"><i class="fa fa-times"></i></span>
    <nav class="mobile-nav">
      <ul class="mobile-menu">
        <li><a href="demo3.html">Home</a></li>
        <li>
          <a href="demo3-shop.html">Categories</a>
          <ul>
            <li><a href="category.html">Full Width Banner</a></li>
            <li>
              <a href="category-banner-boxed-slider.html"
                >Boxed Slider Banner</a
              >
            </li>
            <li>
              <a href="category-banner-boxed-image.html">Boxed Image Banner</a>
            </li>
            <li><a href="category-sidebar-left.html">Left Sidebar</a></li>
            <li><a href="category-sidebar-right.html">Right Sidebar</a></li>
            <li><a href="category-off-canvas.html">Off Canvas Filter</a></li>
            <li>
              <a href="category-horizontal-filter1.html">Horizontal Filter 1</a>
            </li>
            <li>
              <a href="category-horizontal-filter2.html">Horizontal Filter 2</a>
            </li>
            <li><a href="#">List Types</a></li>
            <li>
              <a href="category-infinite-scroll.html"
                >Ajax Infinite Scroll<span class="tip tip-new">New</span></a
              >
            </li>
            <li><a href="category.html">3 Columns Products</a></li>
            <li><a href="category-4col.html">4 Columns Products</a></li>
            <li><a href="category-5col.html">5 Columns Products</a></li>
            <li><a href="category-6col.html">6 Columns Products</a></li>
            <li><a href="category-7col.html">7 Columns Products</a></li>
            <li><a href="category-8col.html">8 Columns Products</a></li>
          </ul>
        </li>
        <li>
          <a href="demo3-product.html">Products</a>
          <ul>
            <li>
              <a href="#" class="nolink">PRODUCT PAGES</a>
              <ul>
                <li><a href="product.html">SIMPLE PRODUCT</a></li>
                <li><a href="product-variable.html">VARIABLE PRODUCT</a></li>
                <li><a href="product.html">SALE PRODUCT</a></li>
                <li><a href="product.html">FEATURED & ON SALE</a></li>
                <li><a href="product-sticky-info.html">WIDTH CUSTOM TAB</a></li>
                <li>
                  <a href="product-sidebar-left.html">WITH LEFT SIDEBAR</a>
                </li>
                <li>
                  <a href="product-sidebar-right.html">WITH RIGHT SIDEBAR</a>
                </li>
                <li>
                  <a href="product-addcart-sticky.html">ADD CART STICKY</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="nolink">PRODUCT LAYOUTS</a>
              <ul>
                <li>
                  <a href="product-extended-layout.html">EXTENDED LAYOUT</a>
                </li>
                <li><a href="product-grid-layout.html">GRID IMAGE</a></li>
                <li><a href="product-full-width.html">FULL WIDTH LAYOUT</a></li>
                <li><a href="product-sticky-info.html">STICKY INFO</a></li>
                <li>
                  <a href="product-sticky-both.html">LEFT & RIGHT STICKY</a>
                </li>
                <li>
                  <a href="product-transparent-image.html">TRANSPARENT IMAGE</a>
                </li>
                <li>
                  <a href="product-center-vertical.html">CENTER VERTICAL</a>
                </li>
                <li><a href="#">BUILD YOUR OWN</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Pages<span class="tip tip-hot">Hot!</span></a>
          <ul>
            <li>
              <a href="wishlist.html">Wishlist</a>
            </li>
            <li>
              <a href="cart.html">Shopping Cart</a>
            </li>
            <li>
              <a href="checkout.html">Checkout</a>
            </li>
            <li>
              <a href="dashboard.html">Dashboard</a>
            </li>
            <li>
              <a href="login.html">Login</a>
            </li>
            <li>
              <a href="forgot-password.html">Forgot Password</a>
            </li>
          </ul>
        </li>
        <li><a href="blog.html">Blog</a></li>
        <li>
          <a href="#">Elements</a>
          <ul class="custom-scrollbar">
            <li><a href="element-accordions.html">Accordion</a></li>
            <li><a href="element-alerts.html">Alerts</a></li>
            <li><a href="element-animations.html">Animations</a></li>
            <li><a href="element-banners.html">Banners</a></li>
            <li><a href="element-buttons.html">Buttons</a></li>
            <li><a href="element-call-to-action.html">Call to Action</a></li>
            <li><a href="element-countdown.html">Count Down</a></li>
            <li><a href="element-counters.html">Counters</a></li>
            <li><a href="element-headings.html">Headings</a></li>
            <li><a href="element-icons.html">Icons</a></li>
            <li><a href="element-info-box.html">Info box</a></li>
            <li><a href="element-posts.html">Posts</a></li>
            <li><a href="element-products.html">Products</a></li>
            <li>
              <a href="element-product-categories.html">Product Categories</a>
            </li>
            <li><a href="element-tabs.html">Tabs</a></li>
            <li><a href="element-testimonial.html">Testimonials</a></li>
          </ul>
        </li>
      </ul>

      <ul class="mobile-menu mt-2 mb-2">
        <li class="border-0">
          <a href="#"> Special Offer! </a>
        </li>
        <li class="border-0">
          <a href="https://1.envato.market/DdLk5" target="_blank">
            Buy Porto!
            <span class="tip tip-hot">Hot</span>
          </a>
        </li>
      </ul>

      <ul class="mobile-menu">
        <li><a href="login.html">My Account</a></li>
        <li><a href="demo3-contact.html">Contact Us</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="wishlist.html">My Wishlist</a></li>
        <li><a href="cart.html">Cart</a></li>
        <li><a href="login.html" class="login-link">Log In</a></li>
      </ul>
    </nav>
    <!-- End .mobile-nav -->

    <form class="search-wrapper mb-2" action="#">
      <input
        type="text"
        class="form-control mb-0"
        placeholder="Search..."
        required
      />
      <button
        class="btn icon-search text-white bg-transparent p-0"
        type="submit"
      ></button>
    </form>

    <div class="social-icons">
      <a
        href="#"
        class="social-icon social-facebook icon-facebook"
        target="_blank"
      >
      </a>
      <a
        href="#"
        class="social-icon social-twitter icon-twitter"
        target="_blank"
      >
      </a>
      <a
        href="#"
        class="social-icon social-instagram icon-instagram"
        target="_blank"
      >
      </a>
    </div>
  </div>
  <!-- End .mobile-menu-wrapper -->
</div>
<!-- End .mobile-menu-container -->

<div class="sticky-navbar">
  <div class="sticky-info">
    <a href="demo3.html"> <i class="icon-home"></i>Home </a>
  </div>
  <div class="sticky-info">
    <a href="demo3-shop.html" class=""> <i class="icon-bars"></i>Categories </a>
  </div>
  <div class="sticky-info">
    <a href="wishlist.html" class="">
      <i class="icon-wishlist-2"></i>Wishlist
    </a>
  </div>
  <div class="sticky-info">
    <a
      href="https://www.portotheme.com/html/porto_ecommerce/my-account.html"
      class=""
    >
      <i class="icon-user-2"></i>Account
    </a>
  </div>
  <div class="sticky-info">
    <a href="cart.html" class="">
      <i class="icon-shopping-cart position-relative">
        <span class="cart-count badge-circle">3</span> </i
      >Cart
    </a>
  </div>
</div>

<a id="scroll-top" href="#top" title="Top" role="button"
  ><i class="icon-angle-up"></i
></a>
<app-footer></app-footer>
