<!-- <div class="navbar-area">
  <div class="main-nav">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" routerLink="/admin"></a>

        <div
          class="collapse navbar-collapse mean-menu"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav ms-auto">
            <div class="navbar-button">
              <a style="cursor: pointer" (click)="logout()">Logout</a>
            </div>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div> -->

<div class="process-section process-style-three pb-70" style="height: 91vh">
  <div class="container">
    <div class="section-head text-center">
      <h2 style="padding-top: 20px">Admin</h2>
      <span>To Manage Data</span>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-4">
        <div class="process-card" routerLink="/admin/jobs">
          <i class="fa fa-clipboard-list"></i>
          <h3>Inventory Management</h3>
          <p>You can create, view, update & delete data here…</p>

          <img
            class="desktopImg"
            src="/home/syedahmed/Desktop/Personal Projects/desktop-app-in-electron-and-angular/src/assets/images/process-pattern-2.png"
            alt="arrow"
          />
        </div>
      </div>

      <div class="col-md-6 col-sm-4 applicant-section">
        <div class="process-card" routerLink="/admin/applicants">
          <i class="fas fa-shopping-cart"></i>
          <h3>Product Management</h3>
          <p>You can create, view, update & delete data here…</p>

          <!-- <img
            class="desktopImg"
            src="/home/syedahmed/Desktop/Personal Projects/desktop-app-in-electron-and-angular/src/assets/images/process-pattern-2.png"
            alt="arrow"
          /> -->
        </div>
      </div>

      <!-- <div class="col-md-3 col-sm-4 applicant-section">
        <div class="process-card" routerLink="/admin/quotes">
          <i class="fa fa-quote-right"></i>
          <h3>Quotes</h3>
          <p>You can create, view, update & delete data here…</p>
          <img
            class="desktopImg"
            src="/home/syedahmed/Desktop/Personal Projects/desktop-app-in-electron-and-angular/src/assets/images/process-pattern-2.png"
            alt="arrow"
          />
        </div>
      </div>

      <div class="col-md-3 col-sm-4 applicant-section">
        <div class="process-card" routerLink="/admin/clients">
          <i class="fa fa-user"></i>
          <h3>Our Clients</h3>
          <p>You can create, view, update & delete data here…</p>
        </div>
      </div> -->
    </div>

    <div class="process-shapes">
      <img
        src="/home/syedahmed/Desktop/Personal Projects/desktop-app-in-electron-and-angular/src/assets/images/process-pattern-3.png"
        alt="shape"
      />
      <img
        src="/home/syedahmed/Desktop/Personal Projects/desktop-app-in-electron-and-angular/src/assets/images/process-pattern-4.png"
        alt="shape"
      />
      <img
        src="/home/syedahmed/Desktop/Personal Projects/desktop-app-in-electron-and-angular/src/assets/images/process-pattern-5.png"
        alt="shape"
      />
      <img
        src="/home/syedahmed/Desktop/Personal Projects/desktop-app-in-electron-and-angular/src/assets/images/process-pattern-6.png"
        alt="shape"
      />
      <img
        src="/home/syedahmed/Desktop/Personal Projects/desktop-app-in-electron-and-angular/src/assets/images/process-pattern-7.png"
        alt="shape"
      />
      <img
        src="/home/syedahmed/Desktop/Personal Projects/desktop-app-in-electron-and-angular/src/assets/images/process-pattern-6.png"
        alt="shape"
      />
    </div>
  </div>
</div>
